<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BID</key>
		<string>1</string>
		<key>BName</key>
		<string>基站1</string>
		<key>BAddr</key>
		<string>01</string>
	</dict>
	<dict>
		<key>BID</key>
		<string>2</string>
		<key>BName</key>
		<string>基站2</string>
		<key>BAddr</key>
		<string>02</string>
	</dict>
</array>
</plist>
